.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-overlay h2,
.modal-overlay h3 {
  color: #fff;
  margin-bottom: 8px;
}

.modal-overlay p {
  color: #ccc;
  margin-bottom: 12px;
}

.modal-overlay ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 12px;
}

.modal-overlay ul li {
  color: #ccc;
}
