Flask==2.2.2
flask-cors==3.0.10
langchain-google-genai
langchain
google-auth==2.19.1
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.92.0
requests==2.31.0
python-dotenv==1.0.0
gunicorn==20.1.0
werkzeug==2.2.3

